In [2]:
import pandas as pd
from sqlalchemy import create_engine
import json

# 접속 정보 로딩 (옵션: db-config.json 파일이 있을 경우)
with open('db-config.json') as f:
    config = json.load(f)

user = config['user']
password = config['password']
host = config['host']
port = config['port']
database = config['database']

# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}?charset=utf8mb4")

# air_quality 테이블 데이터 읽어오기
query = "SELECT * FROM air_pollution"
air_pollution = pd.read_sql(query, con=engine)

# ▶ 결과 확인
air_pollution.head()

      id            datetime region     no2    co     so2      o3
0  14907 2015-01-01 01:00:00     평균  0.0099  0.36  0.0054  0.0210
1  14908 2015-01-01 02:00:00     평균  0.0096  0.37  0.0055  0.0201
2  14909 2015-01-01 03:00:00     평균  0.0090  0.38  0.0054  0.0197
3  14910 2015-01-01 04:00:00     평균  0.0074  0.35  0.0053  0.0203
4  14911 2015-01-01 05:00:00     평균  0.0074  0.34  0.0052  0.0195

In [4]:
def decimal_places(df, name):
    print(f"[{name}] 소수점 자리수 확인:")
    for col in df.select_dtypes(include='float'):
        # 소수점 아래 자리수를 모두 문자열로 변환해 길이 계산
        decimals = df[col].dropna().apply(lambda x: len(str(x).split('.')[-1]))
        print(f" - {col}: 최대 {decimals.max()}자리")
    print()

# 각 원본 데이터에 대해 적용
decimal_places(air_pollution, 'air_pollution')

[air_pollution] 소수점 자리수 확인:
 - no2: 최대 7자리
 - co: 최대 6자리
 - so2: 최대 8자리
 - o3: 최대 7자리

In [1]:
def decimal_places(df, name):
    print(f" [{name}] 소수점 자리수 확인:")
    for col in df.select_dtypes(include='float'):
        decimals = df[col].dropna().apply(lambda x: len(str(x).split('.')[-1]))
        if not decimals.empty:
            print(f" - {col}: 최소 {decimals.min()}자리 / 최대 {decimals.max()}자리")
    print()
    
decimal_places(air_pollution, 'air_pollution')

NameError: name 'air_pollution' is not defined

In [2]:
air_pollution.isnull().sum()

id          0
datetime    0
region      0
no2         0
co          0
so2         0
o3          0
dtype: int64

In [3]:
air_pollution['region'].unique()

array(['평균', '강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype=object)

In [4]:
air_pollution['region'] = air_pollution['region'].replace('평균', '서울시')

In [5]:
air_pollution['region'].unique()

array(['서울시', '강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구',
       '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'],
      dtype=object)

In [6]:
air_pollution.drop(['id'], axis=1, inplace=True)

In [7]:
#air_pollution_최종
air_pollution

                   datetime region     no2    co     so2      o3
0       2015-01-01 01:00:00    서울시  0.0099  0.36  0.0054  0.0210
1       2015-01-01 02:00:00    서울시  0.0096  0.37  0.0055  0.0201
2       2015-01-01 03:00:00    서울시  0.0090  0.38  0.0054  0.0197
3       2015-01-01 04:00:00    서울시  0.0074  0.35  0.0053  0.0203
4       2015-01-01 05:00:00    서울시  0.0074  0.34  0.0052  0.0195
...                     ...    ...     ...   ...     ...     ...
2350993 2025-06-25 13:00:00    중랑구  0.0097  0.24  0.0024  0.0271
2350994 2025-06-25 14:00:00    중랑구  0.0081  0.24  0.0023  0.0290
2350995 2025-06-25 15:00:00    중랑구  0.0108  0.26  0.0029  0.0255
2350996 2025-06-25 16:00:00    중랑구  0.0099  0.26  0.0022  0.0237
2350997 2025-06-25 17:00:00    중랑구  0.0125  0.26  0.0025  0.0233

[2350998 rows x 6 columns]

In [5]:
query_2 ="SELECT * FROM air_quality"
air_quality = pd.read_sql(query_2, con=engine)

air_quality.head()

   id            datetime region   pm10  pm25
0   1 2015-12-31 23:00:00     평균   93.0  62.0
1   2 2015-12-31 23:00:00    강남구  107.0  70.0
2   3 2015-12-31 23:00:00    강동구   91.0  51.0
3   4 2015-12-31 23:00:00    강북구   92.0  64.0
4   5 2015-12-31 23:00:00    강서구   96.0  51.0

In [ ]:
def decimal_places(df, name):
    print(f"[{name}] 소수점 자리수 확인:")
    for col in df.select_dtypes(include='float'):
        # 소수점 아래 자리수를 모두 문자열로 변환해 길이 계산
        decimals = df[col].dropna().apply(lambda x: len(str(x).split('.')[-1]))
        print(f" - {col}: 최대 {decimals.max()}자리")
    print()

# 각 원본 데이터에 대해 적용
decimal_places(air_quality, 'air_quality')

[air_pollution] 소수점 자리수 확인:
 - pm10: 최대 1자리
 - pm25: 최대 1자리

In [9]:
air_quality.isnull().sum()

id              0
datetime        0
region          0
pm10        73631
pm25        70223
dtype: int64

In [10]:
#월별 지역별 결측치 대체

air_quality['datetime'] = pd.to_datetime(air_quality['datetime'])

air_quality['year_month'] = air_quality['datetime'].dt.to_period('M')

cols_to_fill = ['pm10', 'pm25']

for col in cols_to_fill:
    air_quality[col] = air_quality.groupby(['year_month', 'region'])[col].transform(
        lambda x: x.fillna(x.mean())
    )

In [11]:
air_quality.isnull().sum()

id              0
datetime        0
region          0
pm10          720
pm25          720
year_month      0
dtype: int64

In [12]:
# 연월 평균으로 결측치 보완

for col in ['pm10', 'pm25']:
    air_quality[col] = air_quality.groupby('year_month')[col].transform(
        lambda x: x.fillna(x.mean())
    )

air_quality.isnull().sum()

id            0
datetime      0
region        0
pm10          0
pm25          0
year_month    0
dtype: int64

In [13]:
air_quality.drop(columns='id', inplace=True)
air_quality.drop(columns='year_month', inplace=True)

In [14]:
air_quality['region'] = air_quality['region'].replace('평균', '서울시')

In [15]:
#air_quality_최종
air_quality

                   datetime region   pm10  pm25
0       2015-12-31 23:00:00    서울시   93.0  62.0
1       2015-12-31 23:00:00    강남구  107.0  70.0
2       2015-12-31 23:00:00    강동구   91.0  51.0
3       2015-12-31 23:00:00    강북구   92.0  64.0
4       2015-12-31 23:00:00    강서구   96.0  51.0
...                     ...    ...    ...   ...
2958921 2024-01-01 00:00:00    용산구   35.0  25.0
2958922 2024-01-01 00:00:00    은평구   21.0  15.0
2958923 2024-01-01 00:00:00    종로구   28.0  26.0
2958924 2024-01-01 00:00:00     중구   26.0  26.0
2958925 2024-01-01 00:00:00    중랑구   28.0  23.0

[2958926 rows x 4 columns]

In [16]:
# weather 테이블 데이터 읽어오기
query_3 = "SELECT * FROM weather"
weather = pd.read_sql(query_3, con=engine)

# ▶ 결과 확인
weather.head()

,id,station_id,station_name,datetime,temperature,wind_direction,wind_speed,precipitation,humidity
0,1587340,400,강남,2015-01-01 01:00:00,-6.3,314.7,2.7,0.0,30.0000
1,1587341,417,금천,2015-01-01 01:00:00,-6.7,313.5,2.3,0.0,63.5432
2,1587342,424,강북*,2015-01-01 01:00:00,-6.8,308.6,5.2,0.0,36.0000
3,1587343,421,성동,2015-01-01 01:00:00,-5.8,319.9,4.1,0.0,36.0000
4,1587344,416,은평,2015-01-01 01:00:00,-7.5,356.7,1.0,0.0,63.5432

In [17]:
weather.isnull().sum()

id                0
station_id        0
station_name      0
datetime          0
temperature       0
wind_direction    0
wind_speed        0
precipitation     0
humidity          0
dtype: int64

In [18]:
weather.drop(['station_id'], axis=1, inplace=True)
weather.drop(['id'], axis=1, inplace=True)
weather.rename(columns={"station_name": "region"}, inplace=True)
weather['region'].unique()

array(['강남', '금천', '강북*', '성동', '은평', '양천', '한강', '서초', '관악', '영등포', '강서',
       '중구', '성북', '도봉', '용산', '동대문', '광진', '중랑', '강동', '기상청', '노원', '마포',
       '구로', '송파', '서대문', '남현', '현충원', '북악산'], dtype=object)

In [19]:
weather.isnull().sum()

region            0
datetime          0
temperature       0
wind_direction    0
wind_speed        0
precipitation     0
humidity          0
dtype: int64

In [20]:
station_to_gu = {
    '강남': '강남구',
    '서초': '서초구',
    '강동': '강동구',
    '송파': '송파구',
    '강서': '강서구',
    '양천': '양천구',
    '도봉': '도봉구',
    '노원': '노원구',
    '동대문': '동대문구',
    '중랑': '중랑구',
    '기상청': '동작구',
    '마포': '마포구',
    '서대문': '서대문구',
    '광진': '광진구',
    '성북': '성북구',
    '용산': '용산구',
    '은평': '은평구',
    '금천': '금천구',
    '한강': '영등포구',
    '중구': '중구',
    '성동': '성동구',
    '북악산': '종로구',
    '구로': '구로구',
    '강북*': '강북구',
    '남현': '관악구',
    '관악': '관악구',
    '영등포': '영등포구',
    '현충원': '동작구'
}

weather['region'] = weather['region'].map(station_to_gu)

In [21]:
weather.groupby(['datetime', 'region']).ngroups
weather_cleaned = weather.groupby(['datetime', 'region'], as_index=False).mean()
weather_cleaned.head()

,datetime,region,temperature,wind_direction,wind_speed,precipitation,humidity
0,2015-01-01 01:00:00,강남구,-6.3,314.70,2.7,0.0,30.0000
1,2015-01-01 01:00:00,강동구,-6.5,58.40,1.0,0.0,32.0000
2,2015-01-01 01:00:00,강북구,-6.8,308.60,5.2,0.0,36.0000
3,2015-01-01 01:00:00,강서구,-6.8,270.20,1.8,0.0,63.5432
4,2015-01-01 01:00:00,관악구,-6.9,179.35,3.6,0.0,50.7716

In [22]:
print(weather_cleaned['region'].value_counts())

region
동작구     91032
영등포구    91026
강북구     90995
관악구     90993
성북구     90889
서대문구    90865
동대문구    90836
노원구     90827
구로구     90810
중랑구     90793
도봉구     90703
광진구     90701
강남구     90616
강동구     90092
성동구     90053
마포구     89806
금천구     86022
중구      85991
용산구     84840
서초구     82227
양천구     82218
송파구     82182
강서구     81963
은평구     81556
종로구     34205
Name: count, dtype: int64

In [23]:
#weather_최종
weather_cleaned

,datetime,region,temperature,wind_direction,wind_speed,precipitation,humidity
0,2015-01-01 01:00:00,강남구,-6.3,314.70,2.70,0.0,30.0000
1,2015-01-01 01:00:00,강동구,-6.5,58.40,1.00,0.0,32.0000
2,2015-01-01 01:00:00,강북구,-6.8,308.60,5.20,0.0,36.0000
3,2015-01-01 01:00:00,강서구,-6.8,270.20,1.80,0.0,63.5432
4,2015-01-01 01:00:00,관악구,-6.9,179.35,3.60,0.0,50.7716
...,...,...,...,...,...,...,...
2152236,2025-05-31 00:00:00,영등포구,20.5,27.30,0.45,0.0,57.0000
2152237,2025-05-31 00:00:00,용산구,21.0,5.90,0.50,0.0,57.0000
2152238,2025-05-31 00:00:00,은평구,14.6,0.00,0.10,0.0,84.0000
2152239,2025-05-31 00:00:00,중구,19.3,312.30,2.50,0.0,60.0000
2152240,2025-05-31 00:00:00,중랑구,21.2,118.80,1.30,0.0,55.0000

In [24]:
query_4 = "SELECT * FROM uv_ray_day"
uv_ray_day = pd.read_sql(query_4, con=engine)

# ▶ 결과 확인
uv_ray_day.head()

   id   datetime region  uv_max
0   1 2015-01-01    서울시     NaN
1   2 2015-01-02    서울시     NaN
2   3 2015-01-03    서울시     NaN
3   4 2015-01-04    서울시     NaN
4   5 2015-01-05    서울시     NaN

In [25]:
uv_ray_day.isnull().sum()

id            0
datetime      0
region        0
uv_max      328
dtype: int64

In [29]:
import pandas as pd
from datetime import timedelta

# 1. datetime 형식으로 변환
uv_ray_day['datetime'] = pd.to_datetime(uv_ray_day['datetime'])

# 2. 연도 정보 추출
uv_ray_day['year'] = uv_ray_day['datetime'].dt.year

# 3. 연도별 평균으로 결측치 채우기
uv_ray_day['uv_max'] = uv_ray_day.groupby('year')['uv_max'].transform(
    lambda x: x.fillna(x.mean())
)

# 4. 시간 단위로 확장 (00:00 ~ 23:00)
expanded = []

for hour in range(24):
    temp = uv_ray_day.copy()
    temp['datetime'] = temp['datetime'] + timedelta(hours=hour)
    expanded.append(temp)

uv_hourly = pd.concat(expanded, ignore_index=True)

# 5. 불필요한 컬럼 제거
uv_hourly.drop(columns=['id', 'year'], inplace=True)

# 6. 정렬 및 확인
uv_hourly = uv_hourly.sort_values('datetime').reset_index(drop=True)

# 확인
print("결측치 상태:")
print(uv_hourly.isnull().sum())

print(uv_hourly.head(10))

결측치 상태:
datetime    0
region      0
uv_max      0
dtype: int64
             datetime region    uv_max
0 2015-01-01 00:00:00    서울시  4.718421
1 2015-01-01 01:00:00    서울시  4.718421
2 2015-01-01 02:00:00    서울시  4.718421
3 2015-01-01 03:00:00    서울시  4.718421
4 2015-01-01 04:00:00    서울시  4.718421
5 2015-01-01 05:00:00    서울시  4.718421
6 2015-01-01 06:00:00    서울시  4.718421
7 2015-01-01 07:00:00    서울시  4.718421
8 2015-01-01 08:00:00    서울시  4.718421
9 2015-01-01 09:00:00    서울시  4.718421

In [32]:
#uv_hourly_최종
uv_hourly

                 datetime region    uv_max
0     2015-01-01 00:00:00    서울시  4.718421
1     2015-01-01 01:00:00    서울시  4.718421
2     2015-01-01 02:00:00    서울시  4.718421
3     2015-01-01 03:00:00    서울시  4.718421
4     2015-01-01 04:00:00    서울시  4.718421
...                   ...    ...       ...
87667 2024-12-31 19:00:00    서울시  3.500000
87668 2024-12-31 20:00:00    서울시  3.500000
87669 2024-12-31 21:00:00    서울시  3.500000
87670 2024-12-31 22:00:00    서울시  3.500000
87671 2024-12-31 23:00:00    서울시  3.500000

[87672 rows x 3 columns]

In [33]:
#air_pollution query
#air_quality query_2
#weather_cleaned query_3
#uv_hourly query_4

In [53]:
print("air_pollution 지역 목록:")
print(air_pollution['region'].unique())

print("\nair_quality 지역 목록:")
print(air_quality['region'].unique())

print("\nweather_cleaned 지역 목록:")
print(weather_cleaned['region'].unique())

print("\nuv_hourly 지역 목록:")
print(uv_hourly['region'].unique())

air_pollution 지역 목록:
['서울시' '강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구'
 '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구'
 '중구' '중랑구']

air_quality 지역 목록:
['서울시' '강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구'
 '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구'
 '중구' '중랑구']

weather_cleaned 지역 목록:
['강남구' '강동구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구' '도봉구' '동대문구' '동작구'
 '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구' '용산구' '은평구' '종로구' '중구'
 '중랑구']

uv_hourly 지역 목록:
['서울시']

In [54]:
uv_hourly

                 datetime region    uv_max
0     2015-01-01 00:00:00    서울시  4.718421
1     2015-01-01 01:00:00    서울시  4.718421
2     2015-01-01 02:00:00    서울시  4.718421
3     2015-01-01 03:00:00    서울시  4.718421
4     2015-01-01 04:00:00    서울시  4.718421
...                   ...    ...       ...
87667 2024-12-31 19:00:00    서울시  3.500000
87668 2024-12-31 20:00:00    서울시  3.500000
87669 2024-12-31 21:00:00    서울시  3.500000
87670 2024-12-31 22:00:00    서울시  3.500000
87671 2024-12-31 23:00:00    서울시  3.500000

[87672 rows x 3 columns]

In [49]:
# 시작일과 종료일을 같이 출력
for name, df in {
    "air_pollution": air_pollution,
    "air_quality": air_quality,
    "weather_cleaned": weather_cleaned,
    "uv_hourly": uv_hourly
}.items():
    print(f"{name} ")
    print(f"   시작일 (min): {df['datetime'].min()}")
    print(f"   종료일 (max): {df['datetime'].max()}")
    print("-" * 40)

air_pollution
   시작일 (min): 2015-01-01 01:00:00
   종료일 (max): 2025-06-25 17:00:00
----------------------------------------
air_quality
   시작일 (min): 2012-01-01 00:00:00
   종료일 (max): 2024-12-31 23:00:00
----------------------------------------
weather_cleaned
   시작일 (min): 2015-01-01 01:00:00
   종료일 (max): 2025-05-31 00:00:00
----------------------------------------
uv_hourly
   시작일 (min): 2015-01-01 00:00:00
   종료일 (max): 2024-12-31 23:00:00
----------------------------------------

In [50]:
start_dates = [
    pd.to_datetime('2015-01-01 01:00:00'),  # air_pollution
    pd.to_datetime('2012-01-01 00:00:00'),  # air_quality
    pd.to_datetime('2015-01-01 01:00:00'),  # weather_cleaned
    pd.to_datetime('2015-01-01 00:00:00'),  # uv_hourly
]

end_dates = [
    pd.to_datetime('2025-06-25 17:00:00'),  # air_pollution
    pd.to_datetime('2024-12-31 23:00:00'),  # air_quality
    pd.to_datetime('2025-05-31 00:00:00'),  # weather_cleaned
    pd.to_datetime('2024-12-31 23:00:00'),  # uv_hourly
]

common_start = max(start_dates)  # 가장 늦은 시작일
common_end = min(end_dates)      # 가장 이른 종료일

print("공통 시작일:", common_start)
print("공통 종료일:", common_end)

공통 시작일: 2015-01-01 01:00:00
공통 종료일: 2024-12-31 23:00:00

In [51]:
def filter_common_period(df, start, end):
    return df[(df['datetime'] >= start) & (df['datetime'] <= end)].copy()

air_pollution_cut = filter_common_period(air_pollution, common_start, common_end)
air_quality_cut = filter_common_period(air_quality, common_start, common_end)
weather_cleaned_cut = filter_common_period(weather_cleaned, common_start, common_end)
uv_hourly_cut = filter_common_period(uv_hourly, common_start, common_end)

In [55]:
import pandas as pd

# 1) 공통 시작/종료일 설정 
start_date = pd.to_datetime('2015-01-01 01:00:00')  
end_date = pd.to_datetime('2024-12-31 23:00:00')

# 2) 데이터별 공통 기간 필터링
def filter_period(df):
    return df[(df['datetime'] >= start_date) & (df['datetime'] <= end_date)].copy()

air_pollution = filter_period(air_pollution)
air_quality = filter_period(air_quality)
weather_cleaned = filter_period(weather_cleaned)
uv_hourly = filter_period(uv_hourly)

# 3) 'region' 컬럼 전처리
# air_pollution, air_quality: 서울시 행 제거 (구 단위만 사용)
air_pollution = air_pollution[air_pollution['region'] != '서울시']
air_quality = air_quality[air_quality['region'] != '서울시']

# weather_cleaned는 구 단위라 그대로 둠

# 4) uv_hourly 서울시 데이터 → 25개 구별로 복제
gu_list = ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', 
           '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', 
           '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구']

uv_seoul = uv_hourly[uv_hourly['region'] == '서울시'].copy()

uv_expanded = pd.DataFrame()
for gu in gu_list:
    temp = uv_seoul.copy()
    temp['region'] = gu
    uv_expanded = pd.concat([uv_expanded, temp], ignore_index=True)

In [56]:
#모든 datetime 컬럼을 datetime 타입으로 맞추기 (병합 전 필수)
for df in [air_pollution, air_quality, weather_cleaned, uv_expanded]:
    df['datetime'] = pd.to_datetime(df['datetime'])

In [57]:
#병합: datetime + region 기준 inner join
merged = pd.merge(air_pollution, air_quality, on=['datetime', 'region'], how='inner')

In [58]:
merged = pd.merge(merged, weather_cleaned, on=['datetime', 'region'], how='inner')

In [59]:
merged = pd.merge(merged, uv_expanded, on=['datetime', 'region'], how='inner')

In [60]:
# 7) 결과 확인
print("최종 병합 데이터 크기:", merged.shape)
print(merged.head())

최종 병합 데이터 크기: (2027707, 14)
             datetime region    no2   co    so2     o3   pm10  pm25  \
0 2015-01-01 01:00:00    강남구  0.011  0.2  0.006  0.026   42.0  24.0
1 2015-01-01 02:00:00    강남구  0.010  0.2  0.005  0.025   54.0  12.0
2 2015-01-01 03:00:00    강남구  0.010  0.2  0.005  0.024   73.0  19.0
3 2015-01-01 04:00:00    강남구  0.008  0.2  0.007  0.025   89.0  18.0
4 2015-01-01 05:00:00    강남구  0.008  0.2  0.006  0.025  106.0  23.0

   temperature  wind_direction  wind_speed  precipitation  humidity    uv_max
0         -6.3           314.7         2.7            0.0      30.0  4.718421
1         -6.9           295.6         3.0            0.0      33.0  4.718421
2         -7.3           334.4         2.7            0.0      34.0  4.718421
3         -7.7           320.1         2.9            0.0      33.0  4.718421
4         -7.9           294.6         2.3            0.0      33.0  4.718421

In [62]:
import os
print(os.getcwd())

c:\Users\user\ai-proj2-class4\10.data-collecting

In [63]:
merged.to_csv('자외선_데이터셋.csv', index=False)