In [1]:
import chardet

with open('./기상데이타/서울시 기상관련변수.csv', 'rb') as f:
    result = chardet.detect(f.read(10000))  # 일부만 분석
    print(result)

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

In [2]:
import pandas as pd

df = pd.read_csv('./기상데이타/서울시 기상관련변수.csv', encoding='utf-8')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409892 entries, 0 to 2409891
Data columns (total 8 columns):
 #   Column   Dtype
---  ------   -----
 0   지점       int64
 1   지점명      object
 2   일시       object
 3   기온(°C)   float64
 4   풍향(deg)  float64
 5   풍속(m/s)  float64
 6   강수량(mm)  float64
 7   습도(%)    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 147.1+ MB

In [4]:

# 한글 → 영문 컬럼명 매핑
column_mapping = {
    '지점': 'station_id',
    '지점명': 'station_name',
    '일시': 'datetime',
    '기온(°C)': 'temperature',
    '풍향(deg)': 'wind_direction',
    '풍속(m/s)': 'wind_speed',
    '강수량(mm)': 'precipitation',
    '습도(%)': 'humidity'
}

# 컬럼 이름 변경
df.rename(columns=column_mapping, inplace=True)

# 결과 확인
print(df.columns)

Index(['station_id', 'station_name', 'datetime', 'temperature',
       'wind_direction', 'wind_speed', 'precipitation', 'humidity'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2409892 entries, 0 to 2409891
Data columns (total 8 columns):
 #   Column          Dtype
---  ------          -----
 0   station_id      int64
 1   station_name    object
 2   datetime        object
 3   temperature     float64
 4   wind_direction  float64
 5   wind_speed      float64
 6   precipitation   float64
 7   humidity        float64
dtypes: float64(5), int64(1), object(2)
memory usage: 147.1+ MB

In [22]:
df.head()

,station_id,station_name,datetime,temperature,wind_direction,wind_speed,precipitation,humidity
0,400,강남,2015-01-01 01:00,-6.3,314.7,2.7,0.0,30.0
1,400,강남,2015-01-01 02:00,-6.9,295.6,3.0,0.0,33.0
2,400,강남,2015-01-01 03:00,-7.3,334.4,2.7,0.0,34.0
3,400,강남,2015-01-01 04:00,-7.7,320.1,2.9,0.0,33.0
4,400,강남,2015-01-01 05:00,-7.9,294.6,2.3,0.0,33.0

In [ ]:
!pip install sqlalchemy
!pip install pymysql
!pip install cryptography

In [6]:
import json
from sqlalchemy import create_engine 
from sqlalchemy.exc import SQLAlchemyError
import cryptography

with open('db-config.json', 'r') as f:
    config = json.load(f)

user = config['user']
password = config['password']
host = config['host']
port = config['port']
database = config['database']

df['datetime'] = pd.to_datetime(df['datetime'])  # datetime 형식으로 변환

In [7]:
# SQLAlchemy 엔진 생성
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")
conn = engine.connect()
# 데이터 삽입 (예외처리 포함)
try:
    df.to_sql(name='weather', con=conn, if_exists='append', index=False)
    print("[Success] 데이터가 성공적으로 삽입되었습니다.")
except SQLAlchemyError as e:
    print("[Failure] 데이터 삽입 중 오류 발생:", str(e))

[Success] 데이터가 성공적으로 삽입되었습니다.